.applicants-drawer {
    width: 250px;
  }
  
  .applicants-header {
    display: flex;
    align-items: center;
    padding: 16px;
  }
  
  .applicants-title {
    flex-grow: 1;
  }
  
  .applicant-name {
    font-weight: bold;
  }
  
  .applicant-email {
    color: rgba(0, 0, 0, 0.6);
  }